<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @puzzle.name %>
</p>

<p>
  <b>Description:</b>
  <%= @puzzle.description %>
</p>


<%= link_to 'Edit', edit_puzzle_path(@puzzle) %> |
<%= link_to 'Back', puzzles_path %>
